@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
}

:root {
  --ft: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --ft-size: 16px;

  --panel-gap: 8px;
  --background-base: #121212;

  --left-sidebar-width: 72;
  --panel-width: 420;

  --content-spacing: clamp(
    16px,
    16px +
      (
        100vw - var(--left-sidebar-width, 0) * 1px - var(--panel-width, 0) * 1px -
          600px
      )/424 * 8,
    24px
  );

  --min-column-width: 160px;
}

.g {
  display: grid;
}
.grid {
  display: grid;
  gap: var(--panel-gap);
  grid-template-areas:
    "left-sidebar main-view right-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar";
}
.grid-cols-template {
  grid-template-columns: auto 1fr;
}
.grid-rows-template {
  grid-template-rows: 1fr auto;
}
.left-sidebar {
  grid-area: left-sidebar;
}
.main-view {
  grid-area: main-view;
}
.right-sidebar {
  grid-area: right-sidebar;
}
.now-playing-bar {
  grid-area: now-playing-bar;
}

.grid-template-columns {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-column-width), 1fr)
  );
}
.grid-template-rows {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.playlistcard:hover::after {
  inset: 0px;
  background-color: #1f1f1f;
}
.playbutton:hover {
  transform: scale(1.04);
  background-color: #3be477;
}
.playlistcard:hover .playbutton {
  z-index: 2;

}
.playlistcard::after {
  position: absolute;
  content: "";
  border-radius: 6px;
  inset: 12px;
  z-index: 1;
}

.border-bottom {
  border-bottom: 1px solid #282D31;
}
